/* CSS Document */

#mainContainer{
	width:1150px;
	margin:auto;
	margin-top:30px;
}

#gameList{
	 display:none;
}

#gameList td,th{
	text-align:center;
}

#gameList td input.version{
	 font-size:12px;
	 text-align:center;	
	 color:black;

}

#gameList  td a{
	text-decoration:none;
}
#gameList td a{
	margin:0px 5px 0px 5px;
}